{% extends "ponto_base.html" %}
{% load i18n grp_tags admin_urls admin_static admin_list time_utils %}

{% block extrastyle %}
<style type="text/css">
    td.label {
        background-image: linear-gradient(#eeeeee, #e0e0e0);
    }
    table {
        width: 100%;
    }
    div.relatorio {
        width: 980px;
    }
    td.aviso {
        background-color: #FFAAAA;
    }
    tr.tipo_2 {
        /*Falta*/
        background-color: #FFDDDD;
    }
    tr.tipo_1 {
        background-color: #D0FFDE;
        color: #BBBBBB;
    }
    tr.tipo_fim_de_semana {
        background-color: #ECECEC;
        color: #BBBBBB;
    }
</style>
{% endblock %}


{% block content %}
    <div class="g-d-c">
        <form action="" method="GET" id="filtros">
            Escolher funcionário:
            <select class="filtros_select" name="pis">
                <option value>--</option>
                {% for f in funcionarios %}
                <option value="{{f.pis}}" {% if funcionario.pis == f.pis%}selected="selected"{% endif %}>{{f.nome}}</option>
                {% endfor %}
            </select>
            De:
            <select class="filtros_select" name="inicio">
                <option value>--</option>
                {% for d in range_dias %}
                <option value="{{d|date:"d/m/Y"}}" {% if d|date:"d/m/Y" == inicio|date:"d/m/Y" %}selected="selected"{% endif %}>{{d|date:"d/m/Y"}}</option>
                {% endfor %}
            </select>
            Até:
            <select class="filtros_select" name="fim">
                <option value>--</option>
                {% for d in range_dias %}
                <option value="{{d|date:"d/m/Y"}}" {% if d|date:"d/m/Y" == fim|date:"d/m/Y" %}selected="selected"{% endif %}>{{d|date:"d/m/Y"}}</option>
                {% endfor %}
            </select>
        </p>
        <br>
        <div class="relatorio">
            <table>
                <tr>
                    <td class="label">Nome:</td>
                    <td colspan="5"><strong>{{funcionario.nome}}</strong></td>
                </tr>
                <tr>
                    <td class="label">PIS/PASEP:</td>
                    <td>{{funcionario.pis}}</td>
                    <td class="label">CTPS:</td>
                    <td>{{funcionario.ctps}}</td>
                    <td class="label">Admissão:</td>
                    <td>{{funcionario.data_admissao|date:"d/m/Y"}}</td>
                </tr>
                <tr>
                    <td class="label">Departamento:</td>
                    <td>{{funcionario.departamento.nome}}</td>
                    <td class="label">Função:</td>
                    <td colspan="3">{{funcionario.funcao}}</td>
                </tr>
            </table>
            <br>
            <table>
                <thead>
                    <tr>
                        <th colspan="2" rowspan="2">Data</th>
                        <th colspan="8">Diário</th>
                        <th colspan="2">No período</th>
                        <th colspan="2">Acumulado</th>
                    </tr>
                    <tr>
                        <th>Entrada</th>
                        <th>Almoço</th>
                        <th>Volta</th>
                        <th>Saída</th>
                        <th>Outros</th>
                        <th>Tipo</th>
                        <th>Trabalhado</th>
                        <th>Extra</th>
                        <th>Saldo</th>
                        <th>Faltas</th>
                        <th>Saldo</th>
                        <th>Faltas</th>
                    </tr>
                </thead>
                <tbody>
                    {% if relatorio.saldo_anterior or relatorio.faltas_anteriores %}
                    <tr><td colspan="12">Anterior</td><td>{{relatorio.saldo_anterior|to_time}}</td><td>{{relatorio.faltas_anteriores}}</td></tr>
                    {% endif %}
                    {%for entrada in relatorio.entradas %}
                    <tr class="tipo_{{entrada.ponto.tipo}}">
                        <td>{{entrada.dia|date:"d/m/Y"}}</td>
                        <td>{{entrada.dia|date:"D"}}</td>
                        <td>{{entrada.ponto.chegada.horario|date:"H:i"}}{{entrada.ponto.chegada.registro_manual|yesno:"*,"}}</td>
                        <td>{{entrada.ponto.saida_almoco.horario|date:"H:i"}}{{entrada.ponto.saida_almoco.registro_manual|yesno:"*,"}}</td>
                        <td>{{entrada.ponto.volta_almoco.horario|date:"H:i"}}{{entrada.ponto.volta_almoco.registro_manual|yesno:"*,"}}</td>
                        <td {% if not entrada.ponto.saida and entrada.ponto.tipo == 0 %}class="aviso"{% endif %}>{{entrada.ponto.saida.horario|date:"H:i"}}{{entrada.ponto.saida.registro_manual|yesno:"*,"}}</td>
                        <td>
                            {% for o in entrada.ponto.outros_registros %}
                            {{o.horario|date:"H:i"}}{{o.registro_manual|yesno:"*,"}} 
                            {% endfor %}
                        </td>
                        <td>{{entrada.ponto.get_tipo_display}}</td>
                        <td>{{entrada.ponto.expediente_trabalhado|to_time}}</td>
                        <td>{{entrada.ponto.extra|to_time}}</td>
                        <td style="background: {{entrada.saldo_periodo|alarm_color}}">{{entrada.saldo_periodo|to_time}}</td>
                        <td>{{entrada.faltas_periodo}}</td>
                        <td style="background: {{entrada.saldo_total|alarm_color}}">{{entrada.saldo_total|to_time}}</td>
                        <td>{{entrada.faltas_totais}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <table>
                <thead>
                    <tr>
                        <th colspan="6">Período de {{inicio|date:"d/m/Y"}} à {{fim|date:"d/m/Y"}}</th>
                        <th colspan="2">Totais</th>
                    </tr>
                    <tr>
                        <th>Entrada media</th>
                        <th>Saída media</th>
                        <th>Disponibilidade</th>
                        <th>Assiduidade</th>
                        <th>Saldo</th>
                        <th>Faltas</th>
                        <th>Saldo</th>
                        <th>Faltas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{relatorio.entrada_media.0|to_time}} (σ={{relatorio.entrada_media.1}})</td>
                        <td>{{relatorio.saida_media.0|to_time}} (σ={{relatorio.saida_media.1}})</td>
                        <td>{{relatorio.disponibilidade.trabalhado|to_time}} de {{relatorio.disponibilidade.esperado|to_time}} ({{relatorio.disponibilidade.disponibilidade|floatformat:1}}%)</td>
                        <td>{{relatorio.assiduidade.presencas}} de {{relatorio.assiduidade.total}} ({{relatorio.assiduidade.assiduidade|floatformat:1}}%)</td>
                        <td>{{relatorio.saldo_periodo|to_time}}</td>
                        <td>{{relatorio.faltas_periodo}}</td>
                        <td>{{relatorio.saldo_total|to_time}}</td>
                        <td>{{relatorio.faltas_totais}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
